
#m1 {
    border: 1px solid red;
}
ul {
    border: 4px double slategray;
    /* width: 90%; */
    height: 40px;
    display: block;
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    background-color: wheat;
    padding: 1px 10px;
}
li {
    height: 32px;
    display: inline-block;
    padding-top: 4px;
    
}
img {
    border: 1px solid wheat;
}